/* -----------------VARIABLES CSS--------------- */
:root {
    /* -----------COLORES------------- */
    --primary-color: hsl(229, 76%, 8%);
    --secondary-color: hsl(100, 7%, 92%);
    --white-color: hsl(0, 0%, 100%);
    --lighterText-color: hsl(228,77,8,50%);

    /* -----------TAMAÑO TIPOGRAFÍA------------- */
    --display01: 20rem; 
    --display02: 4rem;
    --h1: 3.5rem;
    --h2: 2.5rem;
    --h3: 2rem;
    --h4: 1.5rem;
    --paragraph-large: 1.125rem;
    --paragraph-medium: 0.875rem;
    --footer-text: 0.75rem;

    /* -----------TAMAÑO TIPOGRAFÍA------------- */
    --font-bold: 600;
    --font-regular:400;
}

@font-face {
    font-family:'Geist';
    src: url(../media/fonts/Geist-Bold.ttf);
    src: url(../media/fonts/Geist-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Geist';

}

h1 {
    font-size: 3.5rem;
    font-weight: var(--font-bold);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.125rem;
}

header {
    height: calc(100vh);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-image: url(../img/);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

/* --------------------------------MENÚ ---------------------------*/
#menu {
    position: fixed;
    margin-left: 20%;
    top: 2rem;
    z-index: 100;
    width: 60%;
    border-radius: 50px;
    max-width: 60%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    background-color: rgba(234, 236, 233, 0.5);
    backdrop-filter: blur(20px);
}

#menu > div {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
}

#close-icon {
    color: white;
    cursor: pointer;
    font-size: 1.5em;
}

#menu-icon {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.5em;
}

#close-icon {
    display: none;
}

#menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0 auto;
}

#menu-items > li {
    list-style-type: none;
}


.menu-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1em;
    font-weight: var(--font-bold);
}

.menu-link:hover {
    color: #050b245d;
    transition: 0.5s ease;
}

.logo img {
    width: 90px;
    height: auto;
}



/* ---------- MEDIA QUERYS -------------- */
@media screen and (min-width: 1200px) {
    #menu-icon {
        display: none;
    }
}

/* TABLET --- */
@media screen and (max-width: 1200px) {

    /* ------GENERALES-------- */
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.9rem;
    }

    p {
        font-size: 0.85rem;
    }

    section {
        margin: 1rem 0;
        padding: 2rem 1rem;
    }

    /* ---------- HEADER ----------- */


    /* --------------------- MENÚ -------------------- */
    #menu {
        width: 100%;
        padding: 0 1em;
        top: 2rem;
    }

    #menu > div {
        justify-content: center;
    }

    #menu-items {
        position: fixed;
        top: -2rem;
        left: -210%;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 4rem;
        padding-left: 2rem;
        background-color: var(--primary-color);
        transition: left 0.5s ease;
        gap: 1.5em;
    }

    #menu-items.show {
        left: -35%;
    }


    .menu-link {
        font-size: 5rem;
        color: var(--secondary-color);
        padding-left: 3rem;
    }

    .menu-link:hover {
        color: var(--secondary-color);
    }

    #menu-icon {
        display: block;
    }

    #close-icon {
        display: block;
        position: absolute;
        top: 4rem;
        left: 5rem;
        font-size: 2.5rem;
    }

    .logo img {
        display: none;
    }

    /* ---------------------- FOOTER --------------- */


}


    

/* MÓVIL --- */
@media screen and (max-width: 750px) {


    /* ---------- HEADER ----------- */

    
    /* --------------------- MENU -------------------- */
    .menu-link {
        font-size: 3.5rem;
        color: white;
        padding-left: 2rem;
    }

    #menu-items {
        padding-top: 0;
        gap: 4rem;
    }

    #close-icon {
        top: 5rem;
        font-size: 2.5rem;
        left: 4rem;
    }
        
    /* ---------------------- FOOTER --------------- */

}

@media screen and (max-width: 576px) {


    /* ---------- HEADER ----------- */

    
    /* --------------------- MENU -------------------- */
    
    .menu-link {
        font-size: 2.5rem;
        color: var(--secondary-color);
        padding-left: 1rem;
    }
}