/* -----------------VARIABLES CSS--------------- */
:root {
    /* -----------COLORES------------- */
    --primary-color: hsl(229, 76%, 8%);
    --secondary-color: hsl(100, 7%, 92%);
    --white-color: hsl(0, 0%, 100%);
    --lighterText-color: hsl(228,77,8,50%);

    /* -----------TAMAÑO TIPOGRAFÍA------------- */
    --display01: 20rem; 
    --display02: 4rem;
    --h1: 3.5rem;
    --h2: 2.5rem;
    --h3: 2rem;
    --h4: 1.5rem;
    --paragraph-large: 1.125rem;
    --paragraph-medium: 0.875rem;
    --footer-text: 0.75rem;

    /* -----------TAMAÑO TIPOGRAFÍA------------- */
    --font-bold: 600;
    --font-regular:400;
}

@font-face {
    font-family:'Geist';
    src: url(../media/fonts/Geist-Bold.ttf);
    src: url(../media/fonts/Geist-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Geist';

}

h1 {
    font-size: 3.5rem;
    font-weight: var(--font-bold);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.125rem;
}

header {
    height: calc(100vh);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-image: url(../img/);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

/* --------------------------------MENÚ ---------------------------*/
#menu {
    position: sticky;
    top: 20px;
    z-index: 100;
    width: 60%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: #050505;
    border-radius: 50px;
    margin: 2%;
    margin-left: 18%;
}

#menu > div {
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
}

#menu > div > i,
#menu > div > ul > li:last-child {
    display: none;
}

#menu > div > ul {
    width: 100%;
    height: 3em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu > div > ul > li {
    list-style: none;
    width: 13%;
    margin-left: 3%;
    display: flex;
    justify-content: center;
}

#menu > div > ul > li:first-child > a {
    width: 100%;
    display: flex;
    justify-content: center;
}

#menu > div > ul > li:first-child > a > img {
    height: 2em;
    width: auto;
}

#menu > div > i,
#menu > div > ul > li > a,
#menu > div > i {
    color: white;
}

#menu > div > ul > li > a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
}

 /* ---------------------- FOOTER --------------- */

.footer-grid {
    background-color: var(--primary-color);
    margin-top: 5rem;
    
}

.footer-container-1,
.footer-container-2,
.footer-container-3,
.footer-container-4,
.footer-container-5 {
    color: var(--secondary-color);
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.footer-container-5,
.footer-container-3 {
   padding-top: 6rem; 
}

 .footer-container-3 > button {
    background: var(--secondary-color);
    padding: 16px;
    color: var(--primary-color);
    border-radius: 20px;
    border: none;
    margin-top: 1rem;
    
 }

 .footer-container-1 > ul,
 .footer-container-2 > ul {
    padding-left: 0;
    font-size: 1.125rem;
 }

 .footer-container-4 > p {
    margin: 0;
 }

 .footer-container-5 > h1 {
    font-size: var(--display01);
 }

 .footer-line {
    width: 95%;
    border: 0;
    border-bottom: 2px solid var(--secondary-color);
    margin: 20px auto;
 }





/* ---------- MEDIA QUERYS -------------- */

/* TABLET --- */
@media screen and (max-width: 1200px) {

    /* ---------- HEADER ----------- */

    /* --------------------- MENÚ -------------------- */

    #menu {
        width: 8%;
        margin: 1%;
    }

    #menu > div {
        display: flex;
        justify-content: center;
    }


    #menu > div > i {
        display: block;
        cursor: pointer;
    }

    #menu > div > ul {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        z-index: 1;
        padding: 20% 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        transition-duration: 1s;
    }

    #menu > div > ul > li:first-child {
        display: none;
    }

    #menu > div > ul > li > a {
        text-decoration: none;
        font-size: 2em;
    }

    #menu > div > ul > li:last-child {
        display: block;
        position: absolute;
        right: 2em;
        top: 2em;
    }

    #menu > div > ul > li:last-child > i {
        color: white;
        font-size: 2em;
        cursor: pointer;
    }

}

    /* ---------------------- FOOTER --------------- */

    

/* MÓVIL --- */
@media screen and (max-width: 750px) {


    /* ---------- HEADER ----------- */

    
    /* --------------------- MENU -------------------- */
    #menu {
        width: 10%;
        margin: 2%;
    }

    #menu > div > ul {
        padding: 30% 0;
    }
        
        
    /* ---------------------- FOOTER --------------- */

}