/* -----------------VARIABLES CSS--------------- */
:root {
    /* -----------COLORES------------- */
    --primary-color: hsl(228, 76%, 8%);
    --secondary-color: hsl(100, 7%, 92%);
    --white-color: hsl(0, 0%, 100%);
    --lighterText-color: hsl(228,77,8,50%);

    /* -----------TAMAÑO TIPOGRAFÍA------------- */
    --display01: 20rem; 
    --display02: 4rem;
    --h1: 3.5rem;
    --h2: 2.5rem;
    --h3: 2rem;
    --h4: 1.5rem;
    --paragraph-large: 1.125rem;
    --paragraph-medium: 0.875rem;
    --footer-text: 0.75rem;

    /* -----------TAMAÑO TIPOGRAFÍA------------- */
    --font-bold: 600;
    --font-regular:400;
}

@font-face {
    font-family:'Geist';
    src: url(../media/fonts/Geist-Bold.ttf);
    src: url(../media/fonts/Geist-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Geist';

}

h1 {
    font-size: 3.5rem;
    font-weight: var(--font-bold);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.125rem;
}

header {
    height: calc(100vh);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-image: url(../media/img/project/p-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

section {
    margin: 1rem;
    padding: 2rem;
}

img {
    border-radius: 5px;
}

li {
    list-style: none;
}

/* --------------------------------MENÚ ---------------------------*/

#menu {
    position: fixed;
    margin-left: 20%;
    top: 2rem;
    z-index: 100;
    width: 60%;
    border-radius: 50px;
    max-width: 60%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    background-color: rgba(234, 236, 233, 0.5);
    backdrop-filter: blur(20px);
}

#menu > div {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
}

#close-icon {
    color: white;
    cursor: pointer;
    font-size: 1.5em;
}

#menu-icon {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.5em;
}

#close-icon {
    display: none;
}

#menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0 auto;
}


.menu-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1em;
    font-weight: var(--font-bold);
}

.menu-link:hover {
    color: #050b245d;
    transition: 0.5s ease;
}

.logo img {
    width: 90px;
    height: auto;
}


/* -----------HEADER------------- */

.project-header-text {
    padding: 2rem;
    background-color: #ffffff1f;
    border-radius: 20px;
    margin-bottom: 2rem;
    backdrop-filter: blur(20px);
}

.project-header-text > div > p {
    margin: 0;
    color: var(--white-color);
    font-weight: 400;
    font-size: 1.5rem;
}

.project-fila2 {
    padding: 24px 0;
}

.project-img-full {
    position: relative;
    width: 100%;
    padding:0;
    margin: 0;
}

.project-img-full > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0;
}

/* -----------CARDS-------------- */

.text-overlay {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.shadow-img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.project-text-overlay {
    position: absolute;
    margin-right: 3rem;
    margin-bottom: 1.5rem;
    top: 80%;
    left: 30%;
    color: white;
    font-weight: bold;
}

.project-text-overlay2 {
    position: absolute;
    margin-bottom: 1.5rem;
    top: 80%;
    left: 3%;
    color: white;
    font-weight: bold;
}

.number-overlay {
    position: absolute;
    top: 3%;
    left: 8%;
    color: var(--secondary-color);
    font-size: 1.3rem;
}

.title-overlay {
    position: absolute;
    position: absolute;
    top: 8%;
    left: 8%;
    color: #eaece99c;
}

.project-img-fullDiv {
    width: fit-content;
}

.project-animated-fullText {
    padding: 0 15%;
    font-weight: bold;
    margin-bottom: 8rem;
    margin-top: 4rem;
}

.project-img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------------- FOOTER --------------- */

/* ---------------------------------------------------------------------------------- MEDIA QUERYS ------------------------------------------------------------------ */

/* TABLET --- */
@media screen and (min-width: 1200px) {
    #menu-icon {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    /* --------------GENERALES--------------- */
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    p {
        font-size: 1rem;
    }

    /* ---------- HEADER ----------- */

    .project-header-text > div > p {
        font-size: 1.2rem;
    }

    /* --------------------- MENÚ -------------------- */
    #menu {
        width: 100%;
        padding: 0 1em;
        top: 2rem;
    }

    #menu > div {
        justify-content: center;
    }

    #menu-items {
        position: fixed;
        top: -2rem;
        left: -210%;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 4rem;
        padding-left: 2rem;
        background-color: var(--primary-color);
        transition: left 0.5s ease;
        gap: 1.5em;
    }

    #menu-items.show {
        left: -35%;
    }


    .menu-link {
        font-size: 5rem;
        color: var(--secondary-color);
        padding-left: 3rem;
    }

    .menu-link:hover {
        color: var(--secondary-color);
    }

    #menu-icon {
        display: block;
    }

    #close-icon {
        display: block;
        position: absolute;
        top: 4rem;
        left: 5rem;
        font-size: 2.5rem;
    }

    .logo img {
        display: none;
    }

    /* ----------Section cards -------------------*/

    .number-overlay {
        top: 3%;
        left: 8%;
        font-size: 1.1rem;
    }
    

    /* ----------Full image */

    .project-text-overlay {
        top: 75%;
        left: 5%;
        margin-right: 1.5rem;
    }

    /* ---------------------- FOOTER --------------- */

}


    

/* MÓVIL --- */
@media screen and (max-width: 700px) {
    /* --------------GENERALES--------------- */
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.9rem;
    }

    p {
        font-size: 0.85rem;
    }

    section {
        margin: 1rem 0;
        padding: 2rem 1rem;
    }

    /* ---------- HEADER ----------- */

    .project-header-text > div > p {
        font-size: 1rem;
    }

    /* --------------------- MENU -------------------- */
    .menu-link {
        font-size: 3.5rem;
        color: white;
        padding-left: 2rem;
    }

    #menu-items {
        padding-top: 0;
        gap: 4rem;
    }

    #close-icon {
        top: 5rem;
        font-size: 2.5rem;
        left: 4rem;
    }
        

    /* ----------Full image */

    .project-text-overlay {
        top: 70%;
        left: 10%;
        margin-right: 1rem;
    }

    /* -----Text animated----------- */

    .project-animated-fullText {
        padding: 0;
        margin-bottom: 7rem;
        margin-top: 3rem;
    }

    /* ---------------------- FOOTER --------------- */

   

}



@media screen and (max-width: 576px) {


    /* ---------- HEADER ----------- */

    
    /* --------------------- MENU -------------------- */
    
    .menu-link {
        font-size: 2.5rem;
        color: var(--secondary-color);
        padding-left: 1rem;
    }

    /* -------------------Primer grid --------------------------*/
    .specific-margin-bootstrap {
        --bs-gutter-y: 1.5rem;
    }
        
    /* ----------Full image */

    .project-text-overlay {
        top: 60%;
    }

    /* ---------------------- FOOTER --------------- */

   

}