/* -----------------VARIABLES CSS--------------- */
:root {
    /* -----------COLORES------------- */
    --primary-color: hsl(229, 76%, 8%);
    --secondary-color: hsl(100, 7%, 92%);
    --white-color: hsl(0, 0%, 100%);
    --lighterText-color: hsl(228,77,8,50%);

    /* -----------TAMAÑO TIPOGRAFÍA------------- */
    --display01: 20rem; 
    --display02: 4rem;
    --h1: 3.5rem;
    --h2: 2.5rem;
    --h3: 2rem;
    --h4: 1.5rem;
    --paragraph-large: 1.125rem;
    --paragraph-medium: 0.875rem;
    --footer-text: 0.75rem;

    /* -----------TAMAÑO TIPOGRAFÍA------------- */
    --font-bold: 600;
    --font-regular:400;
}

@font-face {
    font-family:'Geist';
    src: url(../media/fonts/Geist-Bold.ttf);
    src: url(../media/fonts/Geist-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Geist';

}

h1 {
    font-size: 3.5rem;
    font-weight: var(--font-bold);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.125rem;
}

header {
    height: calc(100vh);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-image: url(../media/img/project/p-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

section {
    margin: 1rem;
    padding: 2rem;
}

img {
    border-radius: 5px;
}

/* --------------------------------MENÚ ---------------------------*/










.project-fila2 {
    padding: 12px 0;
}

.project-img-full {
    width: 100vw;
    height: auto;
    padding: 2rem;
    margin: 0;
}

.project-img-fullDiv {
    width: fit-content;
}

.project-animated-fullText {
    padding: 0 16rem;
}

.project-grid-imgsHouse {
    padding: 24px 0;
}

/* ---------------------------------------------------------------------------------- MEDIA QUERYS ------------------------------------------------------------------ */

/* TABLET --- */
@media screen and (max-width: 1200px) {

    /* ---------- HEADER ----------- */

    /* --------------------- MENÚ -------------------- */


    /* ---------------------- FOOTER --------------- */

}


    

/* MÓVIL --- */
@media screen and (max-width: 750px) {


    /* ---------- HEADER ----------- */

    
    /* --------------------- MENU -------------------- */

        
    /* ---------------------- FOOTER --------------- */

   

}